<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CH.Crc32" version="1.0" targetFramework="net40" />
  <package id="Crc32" version="1.0.0" targetFramework="net40" />
  <package id="Dexiom.QuickCrc32" version="1.0.3" targetFramework="net40" />
  <package id="Klinkby.Checksum" version="1.0.2.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net20" />
  <package id="System.Data.HashFunction.Core" version="1.8.2.2" targetFramework="net40" />
  <package id="System.Data.HashFunction.CRC" version="1.8.2.2" targetFramework="net40" />
  <package id="System.Data.HashFunction.Interfaces" version="1.0.0.2" targetFramework="net40" />
</packages>